<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Saint_Isidore_Parish_Church_Entry_System.My.MySettings.church_dbConnectionString"
            connectionString="Driver={MySQL ODBC 5.1 driver};server=localhost;uid=root;database=church_db;port=3306"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>